@using Entities
@model Post

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class ="col-sm-2">
            Titulo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Conteúdo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            Dono
        </dt>
        <dd class="col-sm-10">
            @Model.GetOwnerName()
        </dd>
        <dt class="col-sm-2">
            Informações de contato
        </dt>
        <dd class="col-sm-10">
            <a href="mailto:@Model.GetOwnerEmail()" >@Model.GetOwnerEmail()</a>
        </dd>
        <dt class="col-sm-2">
            Imagem
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" style="height: 350px; width: auto;" />
        </dd>
        @if (User.Identity != null && Model.Isfrom(User.Identity.Name ?? ""))
        {
            <dt class="col-sm-2">
                Opções
            </dt>
            <dd class="col-sm-10 d-flex gap-4">
                <a asp-action="Edit" asp-controller="Posts" asp-route-id="@Model.Id" class="btn btn-info text-white">
                    Editar
                </a>
                <span>|</span>
                <form asp-action="Delete" asp-controller="Posts" asp-route-id="@Model.Id">
                    <input type="submit" value="Remover post" class="btn btn-danger" />
                </form>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

<h5>Comentários</h5>
<a asp-controller="Comments" asp-action="New" asp-route-postId="@Model.Id">Adicionar comentário</a>

@if (Model.Comments == null)
{
    <span class="text-warning">Esse Post não possui comentários</span>
} else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Dono
                </th>
                <th>
                    Conteúdo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Comment item in Model.Comments)
            {
                <tr>
                    <td>
                        @item.GetOwnerName()
                    </td>
                    <td>
                        @item.Content
                    </td>
                    <th>
                        @if (User.Identity != null && item.IsFrom(User.Identity.Name ?? ""))
                        {
                            <form asp-action="Delete" asp-controller="Comments" asp-route-id="@item.Id" asp-route-postId="@Model.Id">
                                <input type="submit" value="Remover comentário" class="btn btn-danger" />
                            </form>
                        }
                    </th>
                </tr>
            }
        </tbody>
    </table>
}