@using Entities
@model Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Conteudo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Comment item in Model.Comments ?? new List<Comment>())
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Content
                </td>
            </tr>
        }
    </tbody>
</table>