@using Entities;
@model IEnumerable<Post>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<p>
    <a asp-action="New">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titulo/Imagem
            </th>
            <th>
                Dono
            </th>
            <th>
                Conteúdo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var item in Model)
        {
            <tr class="my-3 bg-light">
                <td class="d-flex flex-column">
                    <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
                    <img src="@item.ImageUrl" style="height: 200px; width: fit-content;">
                </td>
                <td>
                    @item.GetOwnerName()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
